html {

	background-color: #f1f1f1;
	margin: 0px;
	overflow-y: scroll;
}

body {
	margin: 0px;
	position: absolute;
	height: inherit;
	left: 50%;
	margin-left: -475px;
	font-family: Arial, Helvetica, sans-serif;
	color: #333333;
	font-size: 13px;
	overflow-y: hidden;
}

header {

  float:center;
	font-family: Arial, Helvetica, sans-serif;
	color: #efefff;
	vertical-align: middle;
	width: 950px;
	height: 144px; /*155*/
	font-size: 15px;
  background-color: #ffffff;

}

section{
	width:950;
	height: inherit;
}

article {

	text-align: left;
	color: #386895;
	padding: 50px;
	background-color: #ffffff;
	overflow-y: hidden;
	width: 590px;
	height:200px;
	clear: left;
	border: 0px dotted #2A4854;
	font-size: 15px;


}

aside {
	float:right;
	padding: 50px;
	width:150px;
	height:520px;
	background-color: #FAFAFA;
	border: 0px dotted #2A4854;
	color: #386895;
	font-size: 15px;


}


nav {
	width: inherit;
	height: 31px;
	vertical-align: top;
	text-align: center;
	color: white;
	overflow-y: hidden;
	background-color: #386895;
}




h1 {
	margin-top: 5px;
	text-shadow: 5px 5px 5px #222222;
	size: 30px;
}



footer {

	text-align: left;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #ffffff;
	font-size: 11px;
	height: 25px;
	background-color: #386895;
	position: absolute;
	bottom: 0px;
	width: 950px;
	padding-top: 5px;
}

li {

	margin:2px;
	padding:2px;
  text-align: left;
	float:left;
}

ul{
	list-style:none;
	margin:5px;
	padding:5px;
	text-align: left;
	float:left;
}

input {
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
    padding: 6px;
    border-width: 0px;
    border-style: inset;
    border-color: #D86063;
    border-image: initial;
}
